.DS_Store
.build/
.swiftpm/
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.idea/
.vscode/
*.dSYM/
*.dSYM.zip

